---
// Components
import AboutMe from "../components/AboutMe.astro";
import ChangeLanguage from "../components/ChangeLanguage.astro";
import Contact from "../components/Contact.astro";
import Intro from "../components/Intro.astro";
import Now from "../components/Now.astro";
import Projects from "../components/Projects.astro";
import SocialMedias from "../components/SocialMedias.astro";
import { ToggleTheme } from "../components/ToggleTheme";
---

<main
  class="m-auto p-2 grid gap-2 overflow-hidden relative w-full sm:p-4 sm:gap-6 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-4 lg:gap-4"
>
  <Intro />
  <AboutMe />
  <Contact />
  <Projects />
  <ChangeLanguage />
  <SocialMedias />
  <div class="grid">
    <ToggleTheme client:only className="rounded-lg" />
    <Now />
  </div>
</main>
