---
import Card from "../../../components/Card/index.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-3"
  title="Sobre mí"
  className="bg-gradient-to-r from-violet-500 to-purple-500 text-white text-2xl rounded-lg animate-fade-left animate-once animate-normal"
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Soy Desarrollador Frontend de Argentina.
      <br />
      Mis principales herramientas de elección incluyen:
      <ul class="list-disc list-inside text-sm">
        <li>JavaScript</li>
        <li>React</li>
        <li>Next.js</li>
        <li>Astro</li>
        <li>Nodejs</li>
        <li>CSS</li>
        <li>Tailwind</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Más allá de programar, me gusta el deporte, juego al Rugby desde los 13
      años.
    </p>
  </div>
</Card>
