---
import Card from "../../../components/Card/index.astro";
import Pulse from "../../../components/Pulse.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-1"
  className="px-3 py-5 animate-fade-left animate-once animate-normal"
>
  <div class="flex justify-between items-start">
    <div class="flex flex-col">
      <h2>Ahora</h2>
      <p>
        <span class="text-xs text-gray-500">Que estoy haciendo?</span>
      </p>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Actualmente trabajando en Pawtrics Software</p>
</Card>
