---
import Card from "../../../components/Card/index.astro";
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-1" href="/es/projects" title="Proyectos" className="text-content bg-gradient-to-r from-fuchsia-500 to-pink-500 text-white hover:-translate-y-3 duration-200 cursor-default flex-col animate-fade animate-duration-[1500ms] animate-normal relative">
    <p>Mirá mis proyectos!</p>
    <div class="absolute inset-0 flex justify-end items-end pr-4 pb-4">
        <img src="/icons/arrow.svg" alt="">
    </div>
</Card>