---
// Components
import AboutMe from '../components/AboutMe.astro';
import Card from "../components/Card/index.astro";
import ChangeLanguage from '../components/ChangeLanguage.astro';
import Contact from '../components/Contact.astro';
import Intro from '../components/Intro.astro';
import Now from '../components/Now.astro';
import Projects from '../components/Projects.astro';
import { ToggleTheme } from '../components/ToggleTheme';

// Layout
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ignacio Figueroa">
	<main>
		<div class="m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-6 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]">
			<Intro />
			<AboutMe />
			<Contact />
			<Projects />
			<ChangeLanguage />		
			<div class="grid gap-3">
				<Card href='https://www.linkedin.com/in/ignacio-figueroa-0a1ba0263/' colSpan="md:col-span-1" rowSpan="md:row-span-1" className='bg-gradient-to-r from-cyan-500 to-blue-500 hover:scale-105 duration-150 animate-fade animate-duration-[1500ms] animate-normal'>
					<div class="flex justify-center items-center h-full">
						<img src="/icons/linkedin.svg" alt="Linkedin" class="w-16 h-16">
					</div>
				</Card>
				<Card href='https://github.com/ignaciofigueroadev'  colSpan="md:col-span-1" rowSpan="md:row-span-1" className='bg-gradient-to-r from-slate-900 to-slate-700 flex justify-center items-center hover:scale-105 duration-150 animate-fade animate-duration-[1500ms] animate-normal'>
					<div class="flex justify-center items-center h-full">
						<img src="/icons/github.svg" alt="Github" class="w-16 h-16">
					</div>
				</Card>
			</div>		
			<div class="grid">
				<ToggleTheme client:only  />	
				<Now />
			</div>
		</div>
	</main>
</Layout>

