---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import { ToggleTheme } from '../components/ToggleTheme';
---

<Layout title="Ignacio Figueroa">
	<main>
		<div class="grid grid-cols-1 grid-rows-3 md:grid-rows-4 md:grid-cols-4 gap-2 md:gap-4 h-screen">
			<div class="flex flex-col gap-2 justify-center col-span-1 md:col-span-2 rounded-lg">
				<span>Hey, welcome!</span>
			  	<h1 class="font-bold text-3xl bg-gradient-to-r from-indigo-500 via-fuchsia-700 to-violet-400 inline-block text-transparent bg-clip-text">This is Ignacio Figueroa</h1>
				<p>Web Developer</p>
			</div>
			<div class="bg-transparent col-span-1 md:col-span-2 row-span-1 md:row-span-2 grid grid-cols-2 gap-2 md:gap-4">
					<a href="https://github.com/ignaciofigueroadev" target="_blank" class="bg-violet-700 rounded-lg hover:scale-105 duration-200 flex flex-col justify-center items-center">
						<img src={"/src/icons/github-icon.svg"} alt="github" class="w-20 h-20"/>
					</a>
					<a href="https://www.linkedin.com/in/ignacio-figueroa-0a1ba0263/" target="_blank" class="bg-[#3681cd] hover:scale-105 duration-200 rounded-lg flex flex-col justify-center items-center">
						<img src={"/src/icons/linkedin.svg"} alt="Linkedin" class="w-20 h-20"/>
					</a>	
					<ToggleTheme client:load/>
					<div class="bg-gradient-to-r from-blue-200 to-cyan-200 text-2xl rounded-lg flex justify-center items-center text-black">			
						<div>
							<a href="/" class="cursor-pointer">EN</a>
							<span>/</span>
							<a href="/es" class="cursor-pointer">ES</a>
						</div>
					</div>
			</div>
			<a href="/projects" class="bg-gradient-to-r from-violet-500 to-purple-500 font-bold text-3xl flex justify-center items-center col-span-1 md:col-span-2 rounded-lg hover:-translate-y-2 duration-200">
			   	<h2 class="text-white animate-bounce">See my projects!</h2>
			</a>
			<div class="bg-transparent border-[1px] border-content rounded-lg">
				<span>04</span>
			</div>
			<div class="bg-transparent border-[1px] border-content rounded-lg">
				<span>05</span>
			</div>
			<div class="bg-gradient-to-r from-fuchsia-500 to-pink-500 text-white flex justify-center items-center col-span-1 md:col-span-2 rounded-lg">
				<p>I enjoy to learn new software concepts, Next.js, React and Astro enthusiastic.</p>
			</div>
		</div>
	</main>
</Layout>

