---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Ignacio Figueroa | Projects" description="Here you will find my projects!">
    <h2>In this page, you'll find my projects</h2>
</Layout>