---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Ignacio Figueroa | Projects"
  description="Here you will find my projects!"
>
  <h2>In this page, you'll find my projects</h2>
  <div class="grid grid-cols-2 w-full items-center gap-6 mx-auto py-16">
    <div class="w-full h-80 border-[1px] border-white rounded-lg">1</div>
    <div class="w-full h-80 border-[1px] border-white rounded-lg">2</div>
    <div class="w-full h-80 border-[1px] border-white rounded-lg">3</div>
    <div class="w-full h-80 border-[1px] border-white rounded-lg">4</div>
    <div class="w-full h-80 border-[1px] border-white rounded-lg">5</div>
    <div class="w-full h-80 border-[1px] border-white rounded-lg">6</div>
  </div>
</Layout>
