---
import Card from "./Card/index.astro";
---

<Card
  colSpan="lg:col-span-1"
  rowSpan="md:row-span-1"
  className="flex justify-center items-center gap-5 text-3xl text-white bg-gradient-to-r from-amber-500 to-pink-500 p-[2.4rem]"
>
  <a href="/" class="hover:-translate-y-1 duration-100">EN</a>
  <span>/</span>
  <a href="/es" class="hover:-translate-y-1 duration-100">ES</a>
</Card>
