---
// Components
import Card from "./Card/index.astro";
---

<div class="grid gap-2">
  <Card
    href="https://www.linkedin.com/in/ignacio-figueroa-0a1ba0263/"
    colSpan="md:col-span-1"
    rowSpan="md:row-span-1"
    className="bg-gradient-to-r from-cyan-500 to-blue-500 hover:scale-105 duration-150 animate-fade animate-duration-[1500ms] animate-normal"
    target="_blank"
  >
    <div class="flex flex-col justify-center items-center gap-3 h-full">
      <img src="/icons/linkedin.svg" alt="Linkedin" class="w-16 h-16" />
      <h3 class="font-bold text-white text-xs">LinkedIn</h3>
    </div>
  </Card>
  <Card
    href="https://github.com/ignaciofigueroadev"
    colSpan="md:col-spa"
    rowSpan="md:row-span-1"
    className="bg-gradient-to-r from-slate-900 to-slate-700 flex justify-center items-center hover:scale-105 duration-150 animate-fade animate-duration-[1500ms] animate-normal"
    target="_blank"
  >
    <div class="flex flex-col justify-center items-center gap-3 h-full">
      <img src="/icons/github.svg" alt="Github" class="w-16 h-16" />
      <h3 class="font-bold text-white text-xs">Github</h3>
    </div>
  </Card>
</div>
