---
// Components
import AboutMe from '../../components/AboutMe.astro';
import Card from "../../components/Card/index.astro";
import Contact from '../../components/Contact.astro';
import Intro from '../../components/Intro.astro';
import Projects from '../../components/Projects.astro';
import { ToggleTheme } from '../../components/ToggleTheme';

// Layout
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Ignacio Figueroa">
	<main>
		<div class="m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]">
			<Intro />
			<AboutMe />
			<Contact />
			<Projects />
			<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1" className="flex justify-center items-center text-content bg-gradient-to-r from-amber-500 to-pink-500">
				<a href="/">EN</a>
				<span>/</span>
				<a href="/es">ES</a>
			</Card>		
			<div class="grid gap-2">
				<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" className='bg-gradient-to-r from-cyan-500 to-blue-500 text-black flex justify-center'>
					<img src="/public/icons/linkedin.svg" alt="Linkedin">
				</Card>
				<Card colSpan="md:col-spa" rowSpan="md:row-span-1" className='bg-gradient-to-r from-slate-900 to-slate-700 flex justify-center'>
					<img src="/public/icons/github.svg" alt="Github">
				</Card>
			</div>		
			<ToggleTheme client:load />		
		</div>
	</main>
</Layout>

