---
import { ToggleTheme } from "../../components/ToggleTheme";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Ignacio Figueroa | Proyectos"
  description="Chequeá mis proyectos y decime que te parecen!"
>
  <div class="flex items-center justify-between pt-8">
    <a
      href="/es"
      class="text-white py-2 px-5 rounded-full bg-gradient-to-r from-fuchsia-500 to-pink-500 cursor-default hover:scale-105 hover:opacity-75 duration-200 flex justify-center items-center gap-2"
      ><img src="/icons/arrow-back.svg" alt="Go back" />
      <span class="font-bold text-xs text-black">Volver</span>
    </a>
    <ToggleTheme client:only className="w-12 h-12 rounded-full p-4" />
  </div>
  <h2 class="font-bold text-3xl pt-12">
    En esta sección vas a encontrar mís proyectos!
  </h2>
  <section
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-auto items-center justify-center gap-6 pt-20 pb-20"
  >
    <article
      class="border-[1px] border-content w-full h-80 col-span-1 lg:col-span-2"
    >
    </article>
    <article class="border-[1px] border-content w-full h-80 col-span-1">
    </article>
    <article class="border-[1px] border-content w-full h-80 col-span-1 lg:">
    </article>
    <article
      class="border-[1px] border-content w-full h-80 col-span-1 lg:col-span-2"
    >
    </article>
  </section>
</Layout>
