---
import { ToggleTheme } from "../../components/ToggleTheme";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Ignacio Figueroa | Proyectos"
  description="Chequeá mis proyectos y decime que te parecen!"
>
  <section class="p-2 md:p-6">
    <div class="flex items-center justify-between">
      <a
        href="/es"
        class="text-white py-2 px-5 rounded-full bg-gradient-to-r from-fuchsia-500 to-pink-500 cursor-default hover:scale-105 hover:opacity-75 duration-200 flex justify-center items-center gap-2"
        ><img src="/icons/arrow-back.svg" alt="Go back" />
        <span class="font-bold text-xs text-black">Volver</span>
      </a>
      <ToggleTheme client:only className="w-12 h-12 rounded-full p-4" />
    </div>
    <h2 class="font-bold text-3xl pt-12">
      En esta sección vas a encontrar mís proyectos!
    </h2>
    <section
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-auto my-auto pt-20 pb-20 gap-16"
    >
      <article class="w-full col-span-1 lg:col-span-2 rounded-lg">
        <img src="/images/example.png" alt="" class="w-full rounded-t-lg" />
        <div class="flex flex-col gap-4 pt-8">
          <h3 class="font-bold text-2xl">Título</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
            facere accusantium error nemo nobis.
          </p>
        </div>
        <div class="flex justify-end items-center gap-12">
          <a href="">Github</a>
          <a href="">Live</a>
        </div>
      </article>
      <article class="w-full col-span-1 rounded-lg">
        <img src="/images/example.png" alt="" class="w-full rounded-t-lg" />
        <div class="flex flex-col gap-4 pt-8">
          <h3 class="font-bold text-2xl">Título</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
            facere accusantium error nemo nobis.
          </p>
        </div>
        <div class="flex justify-end items-center gap-12">
          <a href="">Github</a>
          <a href="">Live</a>
        </div>
      </article>
      <article class="w-full col-span-1 rounded-lg">
        <img src="/images/example.png" alt="" class="w-full rounded-t-lg" />
        <div class="flex flex-col gap-4 pt-8">
          <h3 class="font-bold text-2xl">Título</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
            facere accusantium error nemo nobis.
          </p>
        </div>
        <div class="flex justify-end items-center gap-12">
          <a href="">Github</a>
          <a href="">Live</a>
        </div>
      </article>
      <article class="w-full col-span-1 lg:col-span-2 rounded-lg">
        <img src="/images/example.png" alt="" class="w-full rounded-t-lg" />
        <div class="flex flex-col gap-4 pt-8">
          <h3 class="font-bold text-2xl">Título</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
            facere accusantium error nemo nobis.
          </p>
        </div>
        <div class="flex justify-end items-center gap-12">
          <a href="">Github</a>
          <a href="">Live</a>
        </div>
      </article>
    </section>
  </section>
</Layout>
