---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ignacio Figueroa | Projects" description="Acá vas a encontrar mís proyectos!">
    <h2>En esta página vas a econtrar mis proyectos.</h2>
</Layout>