---
// View Transitions
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="en" transition:persist>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions transition:animate="fade" />
  </head>
  <body
    class="container mx-auto px-4 md:px-12 lg:p-0 bg-background-color text-content max-w-6xl lg:max-h-[800px] min-h-screen"
  >
    <slot />
  </body>
</html>
